* {
    background-repeat: no-repeat;
    border: none;
}

#_button {
    width: calc(40px*5); 
    height: calc(10px*5); 
    background-image: url("assets/pullybg.png");  
    background-color: white; 
/*    border-width:1px; 
    border-style:solid;
*/}
